<div class="container">
  <div class="box-oponente">
    <div class="box-oponente__status">
      <div class="box-oponente__status-nome">{{pokemonOponenteEscolhido.Name}}</div>
      <div class="barra-energia">
        <div class="energia" [style]="calculaEnergiaPokemonOponente()"></div>
      </div>
    </div>
    <div class="box-oponente__image">
      <img [src]="pokemonOponenteEscolhidoImage" />
    </div>
  </div>
  <div class="box-jogador">
    <div class="box-jogador__image">
      <img [src]="meuPokemonEscolhidoImage" />
    </div>
    <div class="box-jogador__status">
      <div class="nome">{{meuPokemonEscolhido.Name}}</div>
      <div class="barra-energia">
        <div class="energia" [style]="calculaEnergiaMeuPokemon()"></div>
      </div>
    </div>
  </div>
</div>
<button (click)="sendMessage()">ATACAR</button>

<router-outlet />